.photo img {
	max-width: 200px;
}

.extras {
	background: #666;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    column-gap-spacing: 10px;
}

.extras img {
	height: 140px;
}